.advantage {

	&__card {
		color : #000000;
	}

	&__card-title {
		color          : #000000;
		font-size      : 21px;
		font-weight    : 700;
		text-transform : uppercase;
	}

	&__card-text {
		color       : #000000;
		font-size   : 18px;
		font-weight : 300;
	}

	&__card-img {
	}
}