.engineer {
  background-color: #ffffff;
  flex-direction: column;

  &__persone {
    color: #000000;
    font-size: 36px;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
  }

  &__two-simple {
    color: #000000;
    font-weight: 700;

  }
}