.checkbox input {
	position : absolute;
	z-index  : -1;
	opacity  : 0;
	margin   : 10px 0 0 20px;
}

.checkbox__text {
	position    : relative;
	padding     : 0 0 0 50px;
	cursor      : pointer;
	color       : #333;
	font-size   : 18px;
	line-height : 28px;
}

.checkbox__text:before {
	content       : '';
	position      : absolute;
	top           : 0;
	left          : 0;
	width         : 40px;
	height        : 20px;
	border-radius : 13px;
	background    : #CDD1DA;
	box-shadow    : inset 0 2px 3px rgba(0, 0, 0, .2);
	transition    : .2s;
}

.checkbox__text:after {
	content       : '';
	position      : absolute;
	top           : 2px;
	left          : 2px;
	width         : 16px;
	height        : 16px;
	border-radius : 10px;
	background    : #FFF;
	box-shadow    : 0 2px 5px rgba(0, 0, 0, .3);
	transition    : .2s;
}

.checkbox input:checked + .checkbox__text:before {
	background : #FFBC23;
}

.checkbox input:checked + .checkbox__text:after {
	left : 22px;
}

.checkbox input:focus + .checkbox__text:before {
	box-shadow : inset 0 2px 3px rgba(0, 0, 0, .2), 0 0 0 3px rgba(255, 255, 0, .7);
}

a:focus {
	outline : none;
}

.btn {
	transition       : background-color .5s ease-in-out;
	display          : inline-block;
	color            : #fff;
	text-decoration  : none;
	border-radius    : 34px;
	background-color : #ea701f;
	padding          : 0 29px;
	line-height      : 68px;
	border           : none;
	font-size        : 24px;
	font-weight      : 300;

	&:hover {
		background-color : #ba5c19;
	}

	&:active {
		background-color : #ac5619;
	}

	&_little {
		border-radius : 23px;
		border        : 2px solid #c9c9c9;
		line-height   : 46px;
		padding       : 0 27px;
	}

	@media @mobile {
		line-height : 46px;
		padding     : 0 20px;
		font-size   : 18px;
	}

}

.section-title {
	display     : flex;
	align-items : center;
	color       : #32353A;
	margin-top  : 0;
}

.yellow-arrow {
	background-color    : @yellow;
	//background-image    : url("../img/arrow-long.svg");
	background-position : center;
	background-repeat   : no-repeat;
	background-size     : 20px 20px;
	border-radius       : 50%;
	display             : block;
	.size(40px);
}
